.videoContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 80%;

}
.video {
	/*display: flex;
	justify-content: center;
	text-align: center;*/
	border: 1px solid #4280e6;
	width: 28%;
	height: 250px;
	margin: 2% auto;
	border-radius: 10px;
		background: black;
	
}
.video:hover {
	border: 2px solid #75a9ff;
}

.video li {
	list-style: none;
}
.player-wrapper {
  position: relative;

  /*padding-top: 56.25%*/ /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  margin: 2px auto;
  left: -7%;

}